.container{
    text-align: center;
    background-color: #f0f8ffcc;
    padding: 10px;
}

img{
    margin-bottom: 10px;
}

body{
    background-image: url("../image/Tatweer-Misr.jpg");
    background-size: cover;
    background-blend-mode: luminosity;
    background-attachment: fixed;
    overflow: auto;
}

.upper{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 3%;
    padding-bottom: 5%;
}
.lower{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 5%;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.lower h2{
    align-self: center;
}