.navbar-brand img{
    width: 300px;
    height: 100px;
}

body{
    height: 100vh !important;
    overflow: hidden;
    background-color: #121212;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
}


.button-style{
    position: relative;
    left: 150px;
    top: 10px;
}