.navbar-brand img{
    width: 300px;
    height: 100px;
}

body{
    height: 100vh !important;
    overflow: hidden;
    background-color: #121212;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
}


.button-style{
    position: relative;
    left: 150px;
    top: 10px;
}



.nav-link{
    font-size: 18px;
    font-weight: bold;
    position: relative;
    bottom: 30px;
    margin: 8px;
    transition: 0.4s;
    border-radius: 18px;
}

.nav-link:hover{
background-color: #EDEDED;
border-radius: 18px;
color: #121212 !important;
}


.alert-dismissible{
    display: none;
}

.icone-style{
    position: relative;
    bottom: 20px;
    left: 10px;
}