.section-user{
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%; 
    background-color: 121212;
    background-position: center;
    background-size: cover;
}

.form-group{
    margin: auto;
    padding: 20px;
    size: 50px; 
    align-content: center;
    align-items: center;
    text-align: center; 
    color: #171717;
    border-radius: 30px;
    border-color: #DA0037;
    box-sizing: border-box;
    border-radius:10px 0 0 10px;
}
.input-group-text{
    width: 180px;
    color: #2C3333;
    background-color: #EDEDED;
    border-radius:10px 0 0 10px;

}

.form-control{
    padding: 20px;
    background-color: #ffff;
    align-items: center;
    text-align: center;
    text-size-adjust: 50px;
    color: rgb(0, 0, 0);
    text-size-adjust: 20px;
    box-sizing: border-box;
    width: 300px;
    border-radius:0 10px 10px 0;
}

.form-control:focus{
    padding: 20px;
    background-color: #fff;
    align-items: center;
    text-align: center;
    text-size-adjust: 50px;
    color: rgb(0, 0, 0);
    text-size-adjust: 20px;
    box-sizing: border-box;
    width: 300px;
    border-radius:0 10px 10px 0;
}

.input-group{
    width: 500px;
    padding: 10px;
}

.btn-submit{
    margin: auto;
    color: #EDEDED;
    size: 100px;
    width: 300px;
    height: 50px;
    background-color: #DA0037;
    border-color: #DA0037;
    border-radius: 10px;
    transition: 0.3s;
}

.btn-submit:hover{
    color: #EDEDED;
    background-color: #121212;
    border-color: #EDEDED;
}

.btn-submit:focus{
    color: #EDEDED;
    background-color: #DA0037;
    border-color: #DA0037;
    border-radius: 5px;
}


.header{
    text-align: center;
    color: #DA0037;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 